*
!Dockerfile
!.dockerignore
!.gitignore
!LICENSE
!README.md
!host-startup/
!host-startup/openvpn-client\@.service
!host-startup/run-openvpn-client-cli.sh
!run_vpn.sh
!usr/
!usr/local/
!usr/local/bin/
!usr/local/bin/update-resolv-conf.sh
